$hamburger-padding-x: 8.2px;
$hamburger-padding-y: 11.2px;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 9px;
$hamburger-layer-color: white;
$hamburger-layer-border-radius: 0px;
$hamburger-hover-opacity: 1.0;